*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Brush Script MT', cursive;
}
#main{
    text-align: center;
    margin-top: 50px;
}
#main p{
    font-size: 20px;
}
body{
    background-color: lightblue;
}
.header{
    color: white;
    font-weight: 500;
}
#content1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
#content{
    width: 350px;
    height: 250px;
    background-color: white;
    border-radius: 15px;
}
input
{
  border:none;
  outline:none;
  display:block;
  color:lightblue;
  font-size:1.5em;
  background-color:whitesmoke;
  border-bottom-style:solid;
  border-bottom-color:grey;
  width: 70%;
  height: 30%;
  color: green;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
}
#but{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: blue;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}
#display{
    text-align: center;
    font-size: 35px;
    color: green;
}